.center {
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

figure {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

img {
    height: 315px;
    width: 560px;
    border: 1px solid white;
    border-radius: 10px;
    margin: 20px;
    display: block;
}

a:hover {
    background-color: #ddd;
    border-radius: 10px;
  }

h1 {
    color: whitesmoke;
    text-align: center;
    font-size: xxx-large;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    border-radius: 0px;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }